In [3]:
import pandas as pd
import numpy as np
import requests
from functools import reduce

In [4]:
def dataclean(patch):

    df1 = pd.read_csv ('11.'+str(patch)+'irontogold.csv')
    df2 = pd.read_csv ('11.'+str(patch)+'plattogm.csv')
    df3 = pd.read_csv ('11.'+str(patch)+'challenger.csv')
    changes = pd.read_csv('11.'+str(patch+1)+'changes.csv')
    
    
    irontogold = pd.merge(left=df1, right=changes, left_on='champ', right_on='champ')
    plattogm = pd.merge(left=df2, right=changes, left_on='champ', right_on='champ')
    challenger = pd.merge(left=df3, right=changes, left_on='champ', right_on='champ')
    
    
    irontogold.to_csv('11.'+str(patch)+'irontogold.csv',index=False)
    plattogm.to_csv('11.'+str(patch)+'plattogm.csv',index=False)
    challenger.to_csv('11.'+str(patch)+'challenger.csv',index=False)

In [56]:
def getcleancsv ():
    for X in range (1,19):
        dataclean(X)

In [7]:
dataclean(18)

In [67]:
def dataclean2(patch):

    df1 = pd.read_csv ('11.'+str(patch)+'irontogold.csv')
    df2 = pd.read_csv ('11.'+str(patch)+'plattogm.csv')
    df3 = pd.read_csv ('11.'+str(patch)+'challenger.csv')
    
    dfs = [df1, df2, df3]
    
    df_final = reduce(lambda left,right: pd.merge(left,right,on='champ'), dfs)

In [71]:
    df1 = pd.read_csv ('11.17irontogold.csv')
    df2 = pd.read_csv ('11.17plattogm.csv')
    df3 = pd.read_csv ('11.17challenger.csv')
    
    dfs = [df1, df2, df3]
    
    df_final = reduce(lambda left,right: pd.merge(left,right,on=['champ','role','change']), dfs)

In [72]:
dataclean2

,champ,role,winrate_x,banrate_x,pickrate_x,change,winrate_y,banrate_y,pickrate_y,winrate,banrate,pickrate
0,Aatrox,TOP,48.12,2.44,3.43,no change,47.90,2.23,4.65,47.06,1.92,5.12
1,Ahri,MID,50.36,1.77,5.47,no change,52.18,0.91,4.54,51.35,0.81,3.52
2,Akali,MID,47.48,10.41,6.19,no change,47.58,5.92,3.69,45.45,3.59,2.89
3,Akshan,MID,50.78,26.71,5.32,no change,51.81,30.39,5.39,51.81,30.57,4.97
4,Akshan,ADC,48.77,26.71,2.59,no change,49.27,30.39,1.72,59.52,30.57,1.33
...,...,...,...,...,...,...,...,...,...,...,...,...
143,Ziggs,ADC,52.69,6.11,3.92,no change,51.34,9.37,5.92,53.85,13.17,7.91
144,Ziggs,MID,50.52,6.11,1.97,no change,50.33,9.37,1.77,71.43,13.17,1.54
145,Zilean,SUPPORT,51.40,0.72,2.56,no change,52.76,1.37,3.44,48.89,2.74,3.99
146,Zoe,MID,45.37,0.81,2.17,buff,48.93,1.30,3.13,52.46,2.27,3.75
147,Zyra,SUPPORT,52.27,3.97,5.74,no change,54.51,1.61,3.94,42.86,0.84,2.47